In [10]:
%matplotlib inline

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

In this lab, you'll be working with the Coffee Quality Index dataset, located [here](https://www.kaggle.com/datasets/volpatto/coffee-quality-database-from-cqi). For convenience (and to save trouble in case you can't download files, or someone uploads a newer version), I've provided the dataset in the `data/` folder. The metadata (description) is at the Kaggle link. For this lab, you'll only need `merged_data_cleaned.csv`, as it is the concatenation of the other two datasets.

In this (and the following labs), you'll get several questions and problems. Do your analysis, describe it, use any tools and plots you wish, and answer. You can create any amount of cells you'd like.

Sometimes, the answers will not be unique, and they will depend on how you decide to approach and solve the problem. This is usual - we're doing science after all!

It's a good idea to save your clean dataset after all the work you've done to it.

### Problem 1. Read the dataset (1 point)
This should be self-explanatory. The first column is the index.

In [18]:
# reading the file
coffee = pd.read_csv('data/merged_data_cleaned.csv')
# dropping unused column
coffee_tidy = coffee.drop(columns='Unnamed: 0')

### Problem 2. Observations and features (1 point)
How many observations are there? How many features? Which features are numerical, and which are categorical?

**Note:** Think about the _meaning_, not the data types. The dataset hasn't been thoroughly cleaned.

In [48]:
def convert_to_snake_case(array):  
    # Replace '.' and '-' with '_'
    result = []
    for item in array:
        item = item.lower()
        item = re.sub(r'[.-]', '_', item)
        result.append(item)
    return result

In [49]:
print(convert_to_snake_case(['species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'balance', 'uniformity',
       'clean_cup', 'sweetness', 'cupper_points', 'total_cup_points',
       'moisture', 'category_one_defects', 'quakers', 'color',
       'category_two_defects', 'expiration', 'certification_body',
       'certification_address', 'certification_contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']))

['species', 'owner', 'country_of_origin', 'farm_name', 'lot_number', 'mill', 'ico_number', 'company', 'altitude', 'region', 'producer', 'number_of_bags', 'bag_weight', 'in_country_partner', 'harvest_year', 'grading_date', 'owner_1', 'variety', 'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 'body', 'balance', 'uniformity', 'clean_cup', 'sweetness', 'cupper_points', 'total_cup_points', 'moisture', 'category_one_defects', 'quakers', 'color', 'category_two_defects', 'expiration', 'certification_body', 'certification_address', 'certification_contact', 'unit_of_measurement', 'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']

In [39]:
coffee_tidy.columns = [
    'species', 'owner', 'country_of_origin', 'farm_name', 'lot_number', 'mill', 'ico_number', 'company', 
    'altitude', 'region', 'producer', 'number_of_bags', 'bag_weight', 'in_country_partner', 'harvest_year',
    'grading_date', 'owner_1', 'variety', 'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 
    'body', 'balance', 'uniformity', 'clean_cup', 'sweetness', 'cupper_points', 'total_cup_points', 'moisture', 
    'category_one_defects', 'quakers', 'color', 'category_two_defects', 'expiration', 'certification_body', 
    'certification_address', 'certification_contact', 'unit_of_measurement', 'altitude_low_meters', 
    'altitude_high_meters', 'altitude_mean_meters'
]

In [47]:
coffee_tidy.lot_number.unique()

array([nan, 'YNC-06114', '102', 'Tsoustructive 2015 Sumatra Typica',
       '11/23/0252', 'Baby Geisha Washed', '320', 'YNC-16115',
       '11/23/0177', '6133', '3-37-1829', 'LP-C211-180',
       'Mezcla Veracruz 01', 'CN 11462 AA', '3-37-0277',
       '2016 Tainan Coffee Cupping Event Micro Lot 臺南市咖啡評鑑批次',
       'MCTFHMG15/16', '1-71', '1', 'MCRKPBG 15/16', 'Tarrazu',
       '11/08/0109', '10NG0093', '3-37-1724', '3-37-1291', 'S015.367',
       '035/170/5071146\u2060\u2060\u2060\u2060', 'YNC-16018',
       '5-0015-0231', 'MANDHELING BRASTAGI', '3-59-0318', 'K25159', '152',
       '76', '3-37-1704',
       '2017南投咖啡評鑑 NANTOU COFFEE EVALUATION EVENT 2017', 'MCCRNX115/16',
       '3-59-3461', '11/11711/59', '11/52/709', 'YNC-16017', '11/23/0365',
       '3-37-3825', 'EC-1180', '11/52/1170', '11/752/01', '11/23/0335',
       '3-59-0503', '11/23/0178', 'CR-3', 'S3/01/2017', '96', '019/17',
       '101', 'INT-2015', '007/16E', 'Tsoustructive 2015 Typica',
       '3-59-1772', '3-37-1606', '3-59-2888', '3-37-2112', '8039',
       '11/11711/60', 'sc 9693', '3-59-0075',
       '2017台南市精品咖啡評鑑批次 Specialty Coffee Evaluation of Tainan 2017',
       '3-37-1510', 'YNC-16063', '020/17', 'SC 9634', '103',
       '606118 / K1730101', '008/16A', 'Tsoustructive 2015 Caturra',
       '8062-1', '3-37-2548', 'YNC-16029', '3-59-1695', '2', '8038',
       '3-59-1919', '11/23/0145', '3-59-0504', '11/23/0696', '3-59-2318',
       '8885', '5055', 'MCCFWXA15/16', '73', '68-0054', '3-37-3729',
       '3-37-2623', '2016-2017-1', 'LP-C211-181', 's16292', '11-973-152',
       '035/170/5061178', '43102245 - P4615', '11/23/0673', 'AA',
       'Oriental Paris Natural Coffee', '11/11711/58', '427', 'YNC-16056',
       'YNC-16028', '3-59-1694', '3-37-0278', '261/15', '007/16A',
       '007/16F', '201501', '201502', '3-59-1773', '1-198', '3-37-4468',
       'none', '01NG011', '11/23/0513', '259/15', '11-43367-27',
       '11-973-276', '11/23/0693', '11/23/0632', '11/23/0690',
       'sran toraja', '11/23/0369',
       '2017台南市精品咖啡評鑑批次 Specialty Coffee Evaluation of Tainan 2017 lot.20161220',
       '13', '8866-2', '260/15', 'YNC-16057', 'YNC-16014', '007/16D',
       '53', '11/23/0634', 'GO-669-16', '43102245/P4615', '165',
       '11/23/0146', 'Zona: los imposibles', '11/23/0639', '11/23/0366',
       '11/23/0400', '11/43367/12', '3-37-4434', 'YNC-16047', '63',
       '0063/17', '2016/0001', '008/16B', '8270', 'YNC-16053', 'KLEM-C04',
       '11/973/158', '007/16C', '118', '017/105/16042', 'SRAN-Gayo',
       '007/16B', '47', '007/16G', '11/23/0633', '11/23/0515',
       '2016/0002', 'LP-C211-182', '2017/001', 'BALI INTEN DEWATA',
       '11/23/0507', '11/23/0514', '11/23/0640', '11/23/0701', '340',
       '4783', '345725 / K1620088', '3-37-1367', '174.18', '11/23/0368',
       '2016 Washed', '11/23/0688', '017-053-0211 / 017-053-0212', '98',
       '11/23/0367', '016-1273-098', '11/326/14', '3-37-0059', '149',
       'KLEM-C08        ', '2016NA Lot001', '017-053-0134', '14',
       '43104350 - K25247', '43103820 - K24258 - 030/16', '11/23/0506',
       '3-37-4378', '11/23/0689', 'CN 70741', '240LVCF', '201601', '91',
       '017-053-0046', '11/15/0293', '331', 'K7 Chamarel 2015', '115',
       '601', '2017-003', 'cosecha 2015-2016',
       'Oriental Paris Civet Coffee', 'BR5691', '605135 / K1730103',
       '11/23/0508', 'Lot A 20170519', 'Lot # 331', '11/23/0168',
       '017-053-0211/053-0212', 'sran-ijen',
       '2017台南市精品咖啡評鑑批次 Specialty Coffee Evaluation of Tainan 2017 lot.20161230',
       '017/105/16039', '14/7/2015/172', '2017/2018-Lot01',
       '2017/2018 - Lot 2', '017-053-0211/ 017-053-0212', '25', '7',
       'RKR', 'RC AB', 'Lavado 1', 'Lavado 3'], dtype=object)

In [45]:
coffee_tidy.head()

,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [43]:
coffee_tidy.dtypes

species                   object
owner                     object
country_of_origin         object
farm_name                 object
lot_number                object
mill                      object
ico_number                object
company                   object
altitude                  object
region                    object
producer                  object
number_of_bags             int64
bag_weight                object
in_country_partner        object
harvest_year              object
grading_date              object
owner_1                   object
variety                   object
processing_method         object
aroma                    float64
flavor                   float64
aftertaste               float64
acidity                  float64
body                     float64
balance                  float64
uniformity               float64
clean_cup                float64
sweetness                float64
cupper_points            float64
total_cup_points         float64
moisture                 float64
category_one_defects       int64
quakers                  float64
color                     object
category_two_defects       int64
expiration                object
certification_body        object
certification_address     object
certification_contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

### Problem 3. Column manipulation (1 point)
Make the column names more Pythonic (which helps with the quality and... aesthetics). Convert column names to `snake_case`, i.e. `species`, `country_of_origin`, `ico_number`, etc. Try to not do it manually.

### Problem 4. Bag weight (1 point)
What's up with the bag weights? Make all necessary changes to the column values. Don't forget to document your methods and assumptions.

In [52]:
coffee_tidy.bag_weight

0       60 kg
1       60 kg
2           1
3       60 kg
4       60 kg
        ...
1334     2 kg
1335     2 kg
1336     1 kg
1337    5 lbs
1338    5 lbs
Name: bag_weight, Length: 1339, dtype: object

In [55]:
def convert_to_kgs(feature):
    # trim the 'lbs' and strip the result
    lbs = feature[:-3].strip()
    # convert to kgs
    kgs = np.floor(int(lbs) / 0.453592)

    return f'{kgs} kg'

convert_to_kgs('5 lbs')

'11.0 kg'

In [62]:
coffee_tidy.bag_weight[(coffee_tidy.bag_weight.str.contains('lbs')) & (coffee_tidy.bag_weight.str.contains('kg'))]

16    2 kg,lbs
74    1 kg,lbs
Name: bag_weight, dtype: object

In [68]:
coffee_tidy[16:17]

,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,region,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
16,Arabica,grounds for health admin,Indonesia,toarco jaya,NaN,NaN,NaN,NaN,1200-1800m,sulawesi,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1200.0,1800.0,1500.0

### Problem 5. Dates (1 point)
This should remind you of problem 4 but it's slightly nastier. Fix the harvest years, document the process.

While you're here, fix the expiration dates, and grading dates. Unlike the other column, these should be dates (`pd.to_datetime()` is your friend).

### Problem 6. Countries (1 point)
How many coffees are there with unknown countries of origin? What can you do about them?

### Problem 7. Owners (1 point)
There are two suspicious columns, named `Owner`, and `Owner.1` (they're likely called something different after you solved problem 3). Do something about them. Is there any link to `Producer`?

### Problem 8. Coffee color by country and continent (1 point)
Create a table which shows how many coffees of each color are there in every country. Leave the missing values as they are.

**Note:** If you ask me, countries should be in rows, I prefer long tables much better than wide ones.

Now do the same for continents. You know what continent each country is located in.

### Problem 9. Ratings (1 point)
The columns `Aroma`, `Flavor`, etc., up to `Moisture` represent subjective ratings. Explore them. Show the means and range; draw histograms and / or boxplots as needed. You can even try correlations if you want. What's up with all those ratings?

### Problem 10. High-level errors (1 point)
Check the countries against region names, altitudes, and companies. Are there any discrepancies (e.g. human errors, like a region not matching the country)? Take a look at the (cleaned) altitudes; there has been a lot of preprocessing done to them. Was it done correctly?

### * Problem 11. Clean and explore at will
The dataset claimed to be clean, but we were able to discover a lot of things to fix and do better.

Play around with the data as much as you wish, and if you find variables to tidy up and clean - by all means, do that!